<form test-form ps-action="/testform" ps-init-data="{{parent.data}}" ps-form-name="Анкета">
    <div test-input
        ps-label="name"
        ps-validation="[{required: true, message: 'Необходимо ввести поле @field'}]"
        ps-display-name="Имя"
        required="true">
    </div>
    <div test-input ps-label="surname"
        ps-display-name="Фамилия">
    </div>
    <div test-number ps-label="age"
        ps-display-name="Возраст">
    </div>
    <div test-checkbox ps-label="knowledge"
        ps-display-name="Навыки"
        ps-choices="choices"
        ps-column-size="6">
    </div>
</form>
<button type="button" class="btn btn-warning" ng-click="restoreForm();">Восстановить</button>
<button type="button" class="btn btn-warning" ng-click="clearForm();">Очистить</button>
