extend ../_share.jade
block content
	div.form-control
		div
			div.form-control(ng-repeat="cols in columnsChoices")
				ul
					li(ng-repeat="ch in cols")
						div.checkbox-wrap
							label
								- var uid = 'check{{$index}}{{$parent.$index}}'
								input(type="checkbox", ng-model="ch.value", ng-change="ch.func()",id=uid)
								label(for=uid) {{ch.description}}
