.float-right {
  float: right; }

.select-list-head {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  height: 20px; }

.select-list-body {
  border: 1px solid black;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
  position: absolute;
  background-color: white; }

.select-list-body li {
  padding: 10px 20px;
  cursor: pointer; }

.select-list-body li:hover {
  background-color: #FFF3B6; }

.select-list-body li.active {
  background-color: #FFDD55; }
