extend ../_share.jade
block content
	div.form-control(ng-if='!psManyValues')
		input(type="text", ng-model="inputObject.data", ng-focus='clearError();')		
	div.form-control(ng-if='psManyValues')
		div(ng-repeat='f in inputObject.data track by $index')
			input.form-width400.form-control(type="text", 
				ng-model="f.value",
				ng-disabled='$index!=inputObject.data.length-1',
				placeholder='{{psPlaceholder}}',
				ng-focus='clearError();')
			div.form-control
				div.float-left.btn-remove(ng-click='removeItem($index);',ng-show='f.value') x
				div.float-left(ng-click='addItem()',ng-show='$index==inputObject.data.length-1')
					div.btn-add.float-left +
					div.control-label Добавить ещё 
			