.number-control
	float:left
	width:50px

.arrow
	background-color: #F0F0F0	
	padding: 1px 5px
	color: #808080
	cursor: pointer
.arrow-up
	@extend .arrow
	border-radius: 3px 3px 0px 0px
	border-bottom: 1px solid grey
.arrow-down
	@extend .arrow
	border-radius: 0px 0px 3px 3px

.arrow-container
	margin-left:5px

.arrow-up:hover
	background-color: #FFDD55	
.arrow-down:hover
	background-color: #FFDD55	


::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}
input[type=number] 
	-moz-appearance: textfield
